doctype html
html
    head
        title= title
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/semantic/dist/semantic.js')
        link(rel='stylesheet', href='/semantic/dist/semantic.css')

    body
        block content