extends layout


block content
    style(type='text/css').
        body {
            background-color: #f1f1f1;
        }

        body > .grid {
            height: 100%;
        }

        .column {
            max-width: 350px;
        }
    .ui.middle.aligned.center.aligned.grid
        .column
            h2(class='ui teal image header')
                .content EZ-Fin
            form(class='ui large form')
                .ui.stacked.segment
                    .field
                        .ui.left.icon.input
                            i(class='user icon')
                            input(type="text" name="username" placeholder="用户名")
                    .field
                        .ui.left.icon.input
                            i(class='lock icon')
                            input(type="password" name="password" placeholder="密码")
                    .ui.fluid.large.teal.submit.button#btn-login 登陆
                .ui.error.message
            .ui.message EZ-Fin是一个记录和计算投资收益的管家</br>想使用？
                a(href='#') 点击申请
    script
        |   $("#btn-login").click(function() {
        |       $.ajax({
        |           type: 'POST',
        |           url: '/auth/login',
        |           datatype: 'json',
        |           data: {
        |               username: $('input[name=username]').val(),
        |               password: $('input[name=password]').val()
        |           },
        |           success: function(data,status,xhr) {
        |               console.log(data); }
        |       });
        |   });
